.about{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    padding: 15px;
    background-color: black;
    color: aliceblue;
    text-decoration-color: #dce9f5;
    justify-content: center;
    border-radius: 6px;
    text-align: center;
}
.aboutCont{
    width: 400px;
    margin: 0 auto;
    text-align: justify;
}
.list{
    margin: 0 auto;
}

.btn{
    margin-left: 40%;
    
}

